// variables

$primary: #0065AA;
$secondary: #F57E3C; 
$txt: #585858;
$white: #fff;
$title: #054752;

a {
    text-decoration: none;
}

// needable  classes 

.txt-primary {
    color: $primary;
}

.txt-secondary {
    color: $secondary;
}

.bg-secondary {
    background: $secondary ;
}

.txt-theme {
    color: #708c91;
}


.footer-bg {
    background: $primary;
    background-size: 100% 100%;
    border-top: 5px solid lighten($primary, 10%);
}

html {
    overflow-x: hidden;
}

.section-title {
    margin-left: 15px;
    position: relative;
    font-family: 'jost-bold';

    &:after {
        position: absolute;
        content: '';
        width: 60px;
        height: 4px;
        background-color: $primary;
        bottom: -10px;
        left: 0;
    }
}

.newsletter {
    margin-top: 30px;

    input[type='text'] {
        min-width: 268px;
        height: 36px;
        outline: 0;
        padding-left: 15px;
        font-size: 14px;
    }

    .go {

        background-color: $secondary;
        border-radius: 0;
        height: 36px;
        border: 0;
        outline: 0;
        padding: 0 10px;
        margin: 0;
        outline: 0;
        color: $white;

        &:hover {

            color: $primary;
        }
    }
}

.card-style {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 24px 0 #0000001a;

    .content {
        padding: 5px 20px 25px 20px;
        background: #fff;
        font-family: 'jost-Light';

        .title {
            font-size: 18px;
            margin: 12px 0 7px;
            color: $primary;
            text-transform: capitalize;
            font-family: 'jost-medium';
        }

        p {
            font-size: 15px;
            min-height: 167px;
            text-align: justify;
            margin-top: 17px;
        }

        .social {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                border: 1px solid lightgrey;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 2px;
                height: 35px;
                width: 35px;
                border-radius: 4px;
                color: $primary;
                background-color: $secondary;

                .iconify {
                    font-size: 17px;
                }

                &:hover {
                    color: $white  !important;
                }
            }
        }
    }
}

// font

@font-face {
    font-family: "jost-regular";
    src: url(../fonts/Jost-Regular.ttf);
}

@font-face {
    font-family: "jost-medium";
    src: url(../fonts/Jost-Medium.ttf);
}

@font-face {
    font-family: "jost-bold";
    src: url(../fonts/Jost-Bold.ttf);
}

@font-face {
    font-family: "jost-Light";
    src: url(../fonts/Jost-Light.ttf);
}

@font-face {
    font-family: "jost-semibold";
    src: url(../fonts/Jost-SemiBold.ttf);
}

body {
    overflow-x: hidden;
    font-family: "jost-regular";
    background-color: #fff;
    font-size: 16px;
    line-height: 1.7;
}

// top bar css

.topbar {
    background: $secondary;

    .inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        .social-icons {
            flex-basis: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary;
            height: 100%;
            color: $secondary;
            background: darken(#FFD653, 5%);
            margin-right: 2px;

            &:hover {
                background: darken(#FFD653, 10%);

                .iconify {
                    color: $white;
                }
            }
        }

    }

}

//   navbar css

.siteHeader {
    background: #F6F6F6;

    .navbar-brand {
        img {
            @media(max-width:375px) {
                width: 200px;
            }
        }
    }

    .navCustom {
        .nav-item {
            .nav-link {
                margin-right: 0;
                font-size: 18px;
                color: $primary;
                padding: 8px 12px;
                border-radius: 4px;
                font-family: "jost-bold";

                &.highlight{
                    background: #ff724f;
                    color: #fff;
                    border-radius: 26px;
                    padding: 4px 15px;
                    
                    &:hover {
                        color: $primary;
                    }
                }

                @media(max-width:1024px) {
                    font-size: 14px;
                }

                &:hover {
                    color: $secondary;
                }

                &.active {
                    color: $secondary;
                }
            }

            .dropdown-item {
                &:hover {
                    background-color: $primary ;
                    color: $white;
                }

                &.active {
                    background-color: $primary;
                    color: $white;
                }
            }

            select {
                height: fit-content;
                border: 0;
                background: transparent;
                font-family: "jost-bold";
                color: #0065aa;
                outline: 0;
                font-weight: bold;
            }


        }
    }
}

#dropdownItem1{
    &::after{
        content: unset;
    }
}

.recent_blog {
    padding: 50px 0;
}

//default

.default {
    background-color: $white;
    padding: 70px 0;
}

.gelleryBox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .items {
        margin: 2px 2px;
        flex: 1;
        flex-basis: 23%;

        a {
            display: block;
            position: relative;

            &:hover {
                &:after {
                    content: "\01F50D";
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    right: 0;
                    bottom: 0;
                    background: #ffd767ba;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        img {
            width: 100%;
        }
    }
}


.slick-track {
    padding: 10px 0;
}

.blogBox {
    margin-bottom: 20px;

}

.slick-next {
    height: 35px !important;
    width: 35px !important;
    background: $primary;

    &:hover {
        background: $secondary;
    }
}

.slick-prev {
    height: 35px !important;
    width: 35px !important;
    background: $primary;

    &:hover {
        background: $secondary;
    }
}

.slick-dots li button {
    background: lightgrey !important;

    &:before {
        opacity: 0 !important;
    }
}

.slick-dots {
    li {
        &.slick-active {
            button {
                background: $primary ;

            }
        }
    }
}

.carousel-indicators {
    bottom: 15px;

    button {
        height: 10px !important;
        width: 10px !important;
        border-radius: 50%;
        border: 2px solid #fff !important;

    }
}



// services

.services {
    .items {
        height: 150px;
        overflow: hidden;
        position: relative;
        margin-bottom: 23px;
        border-radius: 4px;
        width: 100%;
        border-radius: 10px;

        .title {
            color: #fff !important;
            font-weight: 400 !important;
            padding: 12px 15px;
            text-transform: capitalize;
            text-align: left;
            -webkit-transition: all 0.5s ease;
            transition: all 0.4s ease;
            transform: scale(1);
            font-size: 21px;
        }

        img {
            position: absolute;
            top: 100%;
            height: 100%;
            width: 100%;
            height: 150px;
            object-fit: cover;
            transition: all 0.4s ease;
        }

        .iconify {
            position: absolute;
            bottom: 10%;
            right: 13%;
            font-size: 1.8rem;
            transition: all 0.4s ease;
            color: #fff;
        }

        &:hover {
            img {
                top: 0;
                filter: brightness(0.7);
            }

            .iconify {
                position: absolute;
                z-index: 1;
                color: #fff;
                bottom: 20%;
                right: 45%;
            }

            .title {
                transform: scale(1.1);
                position: relative;
                z-index: 1;
                color: #fff !important;
                text-align: center;
                background: rgba(0, 0, 0, 0.342);
            }
        }
    }
}


.governance {
    .row {
        img {
            padding: 10px;
        }

        ;

        &:nth-child(even) {
            background-color: #F1F1F1;
        }

        @media(max-width:768px) {
            text-align: center;

        }

        p {
            margin: 0;

            @media(max-width:768px) {
                text-align: center;
                width: 100%;
            }
        }
    }
}

#contact {
    font-size: 16px;
    font-family: "jost-Light";

    .iconify {}
}

footer {
    .nav-item {
        a {
            color: lightgray !important;
            text-decoration: none;

            &:hover {
                color: white !important;
            }
        }
    }


}

.social {
    display: flex;
    align-items: center;

    a {
        margin: 0 11px 0 0;
        text-decoration: none;

        .iconify {
            font-size: 1.5rem;
        }

        color: #0d6efd;

        &:hover {
            color: lightgray;
        }
    }
}

// about us

.aboutUs {
    min-height: 100vh;
    background: url(../images/bg-update.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 53% 0%;

    .inner {
        margin: 60px 0;
        color: grey;
        font-weight: 400;
    }
}




.postTitle {
    @media(max-width:768px) {
        font-size: 16px;
    }
}

.services-details {
    background: #f9f9f9;
}

.ftco-section {


    .heading-section {
        font-size: 28px;
        color: #000;
    }

    .contact-wrap {
        background: #e8edf0;
    }

    .contactForm .label {
        color: #000;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
    }

    #contactForm .form-control {
        font-size: 16px;
    }

    .form-group {
        margin-bottom: 1rem;
    }
}


// blog

.blog {
    padding: 50px 0;

    .blog-box {
        position: relative;
        background: #ffffff;
        padding: 20px;
        margin-bottom: 24px;
        border-radius: 20px;
        border: 1px solid #f1f1f1;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;



        &:hover {
            box-shadow: 0px 10px 20px #0000001a;

            .photo {
                transform: scale(1.15);
            }
        }
    }

    .blog-images {
        width: 100%;
        display: inline-block;
        overflow: hidden;
        position: relative;

        .photo {
            width: 100%;
            height: auto;
            position: relative;
            transition: 0.5s;
            overflow: hidden;

            img {
                width: 100%;

            }
        }

        .box-date {
            position: absolute;
            background: $primary;
            z-index: 2;
            bottom: 0;
            left: 0;
            height: 50px;
            width: 50px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            padding: 0;
            color: #fff;

            p {
                margin: 0;
            }
        }
    }

    .details {
        padding: 5px 0px 5px;

        .blog-text {
            font-size: 13px;
            color: #333333;
            line-height: 1.625;
        }

        a {
            text-decoration: none;

            .blog-title {
                font-size: 16px;
                color: #000;
                margin-top: 10px;
                text-decoration: none;
            }
        }


        .read-more-btn {
            border: 1px solid #e91e63;
        }
    }
}


.sticker {
    position: absolute;
    top: 0;
    width: 170px;
    right: 56px;

}


//chairman section 

.chairman {
    background-color: #fffcae;
    padding: 70px 0;

    .chairman-photo {
        height: 70vh;
        background: url('../images/charman-bg.svg');
        background-size: 100% 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .photo {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border: 6px solid white;
        }
    }
}


//news 

.news {
    overflow: hidden;
    position: relative;
    padding: 50px 0;
    background-image: radial-gradient(circle at 0 2%, #25395a, #162031 124%);
    // background-image: radial-gradient(circle at 0 2%, #5c36f4, #bb1ee9 124%);
}




.btn-theme {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    background: $secondary;
    padding: 7px 18px;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -webkit-transition: 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-decoration: none;
    font-family: 'jost-medium';

    &.radius {
        border-radius: 25px;
        padding: 10px 18px;
    }

    &:hover {
        background: $secondary;
        border-color: $primary;
        color: $primary;
    }
}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;
}

.addressLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 100%;
    background: #1f3ac8;

    .inner {
        font-family: "jost-medium";
        padding: 30px;
        font-size: 1.3rem;

        p {
            margin-bottom: 0;
            color: #ffc107;

            .iconify {
                margin-right: 5px;
                color: #0097ef;
            }

            span {
                color: #fff;
            }
        }
    }
}

.cookies {
    visibility: hidden;
    position: fixed;
    padding: 20px;
    background-color: #fff;
    bottom: 0;
    width: 100%;
    box-shadow: 2px 2px 19px 6px #00000029;
    border-top: 1px solid #356ffd1c;

    .text-muted {
        color: #525252 !important;
        font-size: 14px;

        .iconify {
            font-size: 3rem;
            float: left;
            color: #1f3ac8;
            margin-right: 12px;
        }
    }

    &.active {
        visibility: visible;
    }

    &.close {
        display: none;
    }
}

.nav-item.dropdown {
    @media(min-width:992px) {
        &:hover {
            .dropdown-menu {
                display: block !important;
            }
        }
    }
}

.conatactInfo {
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 25px;
    background: #fff;

    h2 {
        color: #00285E;
        font-weight: bolder;
        text-align: center;
    }

    button {
        background: #008FE2 !important;
        text-transform: uppercase;
        border: 0 !important;
        font-size: 18px;
        margin: 15px 0;

        &:hover {
            color: #fff !important;
            background: darken(#008FE2, 10%) !important;
        }
    }

    img {

        &:hover {
            filter: saturate(2);
        }
    }
}

// testimonial

.testimonial-section {
    background: url('../images/testimonials.jpg');
    background-size: 100% 100%;
    padding: 100px 0;
}

.partners-section {
    padding: 60px 0;
}

.connect {
    padding: 60px 0;
    background-color: $secondary;
}


// gallery 

#imageGallery {
    display: flex !important;
    max-width: 100% !important;
    ;
    text-align: center;
    flex-wrap: wrap;
    padding: 0;

    img {
        width: 100%;
        margin-bottom: 13px;
    }

    a {
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: translateY(-5px);
        }
    }

}

// publications

.publications {
    a {
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: translateY(-5px);
        }
    }
}

// contact 

.contact {
    .form-group {
        margin-bottom: 15px;
    }
}


// blog

.blog {
    padding: 50px 0;

    .blog-box {
        position: relative;
        background: #ffffff;
        padding: 20px;
        margin-bottom: 24px;
        border: 1px solid #f1f1f1;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        border-radius: 20px;

        &:hover {
            box-shadow: 0px 10px 20px #0000001a;

            .photo {
                transform: scale(1.15);
            }
        }
    }

    .blog-images {
        width: 100%;
        display: inline-block;
        overflow: hidden;
        position: relative;

        .photo {
            width: 100%;
            height: auto;
            position: relative;
            transition: 0.5s;
            overflow: hidden;

            img {
                width: 100%;

            }
        }

        .box-date {
            position: absolute;
            background: $primary;
            z-index: 2;
            border-radius: 0 10px 0 0;
            bottom: 0;
            left: 0;
            height: 50px;
            width: 50px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            padding: 0;
            color: #fff;

            p {
                margin: 0;
            }
        }
    }

    .details {
        padding: 5px 0px 5px;

        .blog-text {
            font-size: 15px;
            color: #333333;
            line-height: 1.625;
        }

        a {
            text-decoration: none;

            .blog-title {
                font-size: 16px;
                margin-top: 10px;
                text-decoration: none;
            }
        }


        .read-more-btn {
            border: 1px solid #e91e63;
        }
    }
}


.blog-aside {
    .categori {
        border: 1px solid #e5e9f4;
        padding: 22px 30px 22px;
        margin-top: 30px;

        .title {
            font-size: 24px;
            line-height: 34px;
            font-weight: 700;
            color: #252a32;
            display: block;
            text-align: center;
            margin-bottom: 17px;
        }

        .separator {
            background: #eeeeee;
            width: 195px;
            height: 2px;
            display: block;
            margin: 0 auto;
        }

        .categori-list {
            padding-left: 0px;
            margin-bottom: 0px;
            margin-top: 17px;

            li {
                list-style: none;
                line-height: 36px;

                a {
                    color: $white;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    transition: all 0.3s ease-in-out;
                    text-decoration: none;

                    span {
                        &:nth-child(1) {
                            margin-right: 5px;
                        }
                    }

                    &:hover {
                        color: $primary;

                    }
                }
            }
        }
    }

    .recent-post-widget {
        border: 1px solid #e5e9f4;
        padding: 20px 30px 28px;
        margin-top: 30px;

        .title {
            font-size: 24px;
            line-height: 34px;
            font-weight: 700;
            color: #252a32;
            display: block;
            text-align: center;
            margin-bottom: 17px;
        }

        .separator {
            background: #eeeeee;
            width: 195px;
            height: 2px;
            display: block;
            margin: 0 auto;
        }

        .post-list {
            padding-left: 0px;
            margin-bottom: 0px;
            margin-top: 15px;

            li {
                list-style: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                margin-bottom: 15px;
                padding-bottom: 15px;

                .post {
                    display: flex;

                    .post-img {
                        margin-right: 20px;

                        img {
                            width: 73px;
                            height: 59px;
                        }
                    }

                    .post-details {
                        flex: 1;

                        a {
                            text-decoration: none;
                            outline: none;

                            .post-title {
                                font-weight: normal;
                                font-size: 14px;
                                color: #a3a3a3;
                                -webkit-transition: all 0.3s ease-in;
                                -o-transition: all 0.3s ease-in;
                                transition: all 0.3s ease-in;

                                &:hover {
                                    color: $secondary;
                                }
                            }
                        }

                        .date {
                            color: #7b8698;
                            font-size: 12px;
                            margin-bottom: 0px;
                        }
                    }
                }

            }

        }
    }

    .serch-form {
        position: relative;

        input {
            width: 100%;
            height: 50px;
            outline: 0;
            border: 2px solid #f2f2f2;
            background: #f7f8fc;
            padding: 0px 50px 0px 20px;
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
            height: 50px;
            width: 50px;
            border: none;
            background: none;
            cursor: pointer;
        }
    }
}


.blog-details {
    padding: 50px 0;

    .blog-content {
        .feature-image {
            img {
                width: 100%;
            }
        }

        .content {
            .post-meta {
                padding-left: 0px;
                margin-bottom: 20px;
                margin-top: 12px;

                li {
                    list-style: none;
                    display: inline;

                    a {
                        font-size: 14px;
                        margin-right: 10px;
                        color: #585f6a;
                        transition: all 0.4s ease;
                        text-decoration: none;

                        i {
                            font-size: 13px;
                        }

                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }

            .title {
                font-size: 20px;
                line-height: 26px;
                font-weight: 600;
                color: #1e3a58;
            }

            .tag-social-link {
                background: #f3f6ff;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                padding: 12px;
                flex-wrap: wrap;
                margin-bottom: 0;

                .tag {
                    .title {
                        font-size: 14px;
                        color: #000000;
                        display: inline-block;
                        margin-bottom: 0px;
                        line-height: inherit;

                    }

                    a {
                        color: #545558;
                        font-size: 14px;
                        display: inline-block;
                        margin-bottom: 0px;
                        text-decoration: none;
                    }
                }

                .social-links {
                    padding-left: 0;
                    margin-bottom: 0;

                    li {
                        display: inline-block;

                        a {

                            width: 30px;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            line-height: 30px;
                            font-size: 14px;
                            text-align: center;
                            border-radius: 50%;
                            display: inline-block;
                            color: #fff;
                            margin-left: 2px;
                            background: $primary;
                            -webkit-transition: all 0.3s ease-in;
                            -o-transition: all 0.3s ease-in;
                            transition: all 0.3s ease-in;

                            &:hover {
                                box-shadow: 0px 10px 30px 0px #5a3ef14d;
                            }

                            i {
                                margin-top: 8px;
                            }
                        }
                    }
                }

            }
        }
    }
}

.team {
    .card {
        transition: all 0.3s ease-in-out;
        margin-bottom: 25px;

        &:hover {
            transform: translateY(-10px);
        }
    }
}


// for this site css
.title {
    color: $primary;
    font-family: "jost-bold";
}

.discover {
   
    .box {
        .desc {
            h5 {
                font-family: "jost-bold";
                color: $secondary;
                font-weight: 700;
                font-size: 18px;
                margin: 13px 0;
            }

            p {}
        }
    }
}

.box{
    
    @media(min-width:960px){
        min-height: 542px;
    }
    border-radius: 15px!important;
    border: 0;
    margin-bottom: 15px;
    border-top: 5px solid #FF7A47;
}

.banner {
    padding: 60px 0;
    background: url('../images/Happy\ couple\ of\ tourists\ with\ backpacks.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: 31% 85%;
    min-height: 400px;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background:linear-gradient(0deg, #80c2eb70 63%, #f6f6f6);
    }

    h1 {
        text-align: center;
        font-family: "jost-bold";
        font-size: 2.7rem;
        color: $primary;
        text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    }

    .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .searchPanel {
            margin: 45px 0px 0 0;
            -moz-column-gap: 20px;
            column-gap: 20px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 30px;
            background: #ffffffa6;
            border-radius: 8px;
            backdrop-filter: blur(3px);

            @media(max-width:768px) {
                flex-direction: column;
            }

            .items {
                flex: 1;
                margin: 6px 0;

                label {
                    color: $primary;
                    margin-bottom: 5px;
                    font-family: "jost-bold";
                }

                &:nth-last-child(1) {
                    flex: inherit;
                }

                &:nth-last-child(2) {
                    flex: inherit;
                }
            }
        }
    }
}

.scams {
    background: $primary;
}

.destination {
    background: $primary;

    .inner {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0;
        column-gap: 15px;

        .items {
            background-color: white;
            color: #054752;
            padding: 20px 20px;
            font-size: 18px;
            border-radius: 8px;
            line-height: 20px;
            flex-basis: 24%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            line-height: 1.4;
            margin-bottom: 15px;

            div {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }
        }
    }
}

.link-theme {
    color: white;
    font-family: "jost-medium";

    &:hover {
        color: $secondary;
    }
}

.social {
    margin-top: 15px;

    ul {
        padding: 0;

        li {
            display: inline;
            list-style: none;

            a {
                height: 38px;
                width: 38px;
                margin-right: 5px;
                text-align: center;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background: #fff !important;
                ;
                color: $primary;
                font-size: 1.6rem;

                iconify-icon {
                    font-size: 1.3rem;
                }

                &:hover {
                    background: #fff !important;
                    ;
                    color: $secondary;
                }
            }
        }
    }
}

.route-block {
    background-color: white;
    color: #054752;
    padding: 20px 20px;
    font-size: 18px;
    border-radius: 8px;
    line-height: 20px;
    flex-basis: 24%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 15px;

    &:hover {
        background-color: $secondary;
        color: white;

        .txt-secondary {
            color: white;
        }
    }
}

.location {
    line-height: 3.1;
    display: flex;
    flex-direction: column;
    margin-top: -11px;
    position: relative;

    &:after {
        content: "";
        height: 58px;
        width: 5px;
        background-color: #e91e63;
        position: absolute;
        left: -12px;
        top: 17px;
    }
}